<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DemoFIContent</name>
    <description>
        A sample App.
    </description>
    <author email="danko.gutesa@vizlore.com" href="http://vizlore.com">
        LCI Team
    </author>
    <content src="index.html" />
    <access origin="*" />
<preference name="SplashScreen" value="screen" />
<preference name="SplashScreenDelay" value="10000" />
</widget>
